DATABASE_URL=postgresql://postgres:你的密碼@db.xxxxx.supabase.co:5432/postgres?sslmode=require
SECRET_KEY=your-secret-key
DEBUG=True

# 預設管理員帳號設定 (系統 migrate 後會自動建立)
DEFAULT_ADMIN=admin
DEFAULT_PASSWORD=admin